@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Poppins";
  font-size: 16px;

  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--red);
  background-image: url("./src/assets/bg-intro-desktop.png");
  background-repeat: repeat;

}

@media (max-width: 900px) {
  body {
    background-image: url("./src/assets/bg-intro-mobile.png");
  }
}